In [3]:
#this ensures that plots produced by matplotlib (and seaborn, which is built off of matplotlib) are displayed inline in the ipython interface, rather than opening a new window
%matplotlib inline

import numpy as np
import csv
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pylab
import scipy
import scipy.stats
import math
import pandas as pd
import re
import seaborn as sns

In [4]:
#path of the folder containing the tpims data
tpims_data_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Data - analyses/SG project/screening/analyses of large screens/150701 sg results'

#the {} is replaced by the argument in the string function .format()
tpims_hits = pd.read_csv('{}/151205 tpims hits.csv'.format(tpims_data_folder), header = None)

tpims_sg_enh = pd.read_csv('{}/151205 tpims SG enh.csv'.format(tpims_data_folder), header = None)

In [5]:
tpims_hits = tpims_hits.rename(columns = {0:'plate'})
tpims_hits = tpims_hits.rename(columns = {1:'row'})
tpims_hits = tpims_hits.rename(columns = {2:'column'})
tpims_hits = tpims_hits.rename(columns = {3:'cell type'})
tpims_hits = tpims_hits.rename(columns = {4:'count'})

tpims_hits

    plate  row  column  cell type  count
0       3    3       5          2      1
1       1    5       2          2      1
2       3    6       7          2      1
3       1    6       4          2      1
4       3    1       2          2      1
5       1    4       5          2      1
6       3    4       3          2      1
7       3    1      10          2      1
8       1    3       4          2      1
9       2    2       7          2      1
10      4    5       8          2      1
11      2    4       1          2      1
12      1    2       1          2      1
13      3    7       4          2      1
14      1    3       1          2      1
15      4    1       3          2      1
16      2    6       7          2      1
17      1    3       5          2      1
18      1    5       7          2      1
19      2    5       2          2      1
20      1    7       3          2      1
21      3    8       6          2      1
22      2    3       4          2      1
23      1    1       1          2      1
24      4    5       1          2      1
25      1    8       6          2      1
26      4    7       2          2      1
27      1    8       8          2      1
28      4    2       1          1      1
29      4    7       3          1      1
30      4    6       8          1      1
31      4    3      10          1      1
32      4    5       4          1      1
33      3    5       9          1      1
34      1    5       3          1      1
35      4    6      10          1      1
36      4    6       9          1      1
37      3    1       1          1      1
38      2    6       2          1      1
39      3    1      10          1      1

In [13]:
#find compounds which came up as hits across multiple concentrations/dilutions
tpims_hits_mult_conc = tpims_hits.groupby(['row', 'column', 'cell type'])['count'].sum()

tpims_hits_mult_conc = tpims_hits_mult_conc.to_frame()

tpims_hits_mult_conc = tpims_hits_mult_conc.reset_index(drop = False)

tpims_hits_mult_conc

    row  column  cell type  count
0     1       1          1      1
1     1       1          2      1
2     1       2          2      1
3     1       3          2      1
4     1      10          1      1
5     1      10          2      1
6     2       1          1      1
7     2       1          2      1
8     2       7          2      1
9     3       1          2      1
10    3       4          2      2
11    3       5          2      2
12    3      10          1      1
13    4       1          2      1
14    4       3          2      1
15    4       5          2      1
16    5       1          2      1
17    5       2          2      2
18    5       3          1      1
19    5       4          1      1
20    5       7          2      1
21    5       8          2      1
22    5       9          1      1
23    6       2          1      1
24    6       4          2      1
25    6       7          2      2
26    6       8          1      1
27    6       9          1      1
28    6      10          1      1
29    7       2          2      1
30    7       3          1      1
31    7       3          2      1
32    7       4          2      1
33    8       6          2      2
34    8       8          2      1

In [14]:
#find compounds which came up as hits across multiple cell types
tpims_hits_mult_celltype = tpims_hits.groupby(['plate', 'row', 'column'])['count'].sum()

tpims_hits_mult_celltype = tpims_hits_mult_celltype.to_frame()

tpims_hits_mult_celltype = tpims_hits_mult_celltype.reset_index(drop = False)

tpims_hits_mult_celltype

    plate  row  column  count
0       1    1       1      1
1       1    2       1      1
2       1    3       1      1
3       1    3       4      1
4       1    3       5      1
5       1    4       5      1
6       1    5       2      1
7       1    5       3      1
8       1    5       7      1
9       1    6       4      1
10      1    7       3      1
11      1    8       6      1
12      1    8       8      1
13      2    2       7      1
14      2    3       4      1
15      2    4       1      1
16      2    5       2      1
17      2    6       2      1
18      2    6       7      1
19      3    1       1      1
20      3    1       2      1
21      3    1      10      2
22      3    3       5      1
23      3    4       3      1
24      3    5       9      1
25      3    6       7      1
26      3    7       4      1
27      3    8       6      1
28      4    1       3      1
29      4    2       1      1
30      4    3      10      1
31      4    5       1      1
32      4    5       4      1
33      4    5       8      1
34      4    6       8      1
35      4    6       9      1
36      4    6      10      1
37      4    7       2      1
38      4    7       3      1

In [20]:
#find compounds which came up as hits across multiple conc and cell types
tpims_hits_mult_conc_and_celltype = tpims_hits.groupby(['row', 'column'])['count'].sum()

tpims_hits_mult_conc_and_celltype = tpims_hits_mult_conc_and_celltype.to_frame()

tpims_hits_mult_conc_and_celltype = tpims_hits_mult_conc_and_celltype.reset_index(drop = False)

tpims_hits_mult_conc_and_celltype

    row  column  count
0     1       1      2
1     1       2      1
2     1       3      1
3     1      10      2
4     2       1      2
5     2       7      1
6     3       1      1
7     3       4      2
8     3       5      2
9     3      10      1
10    4       1      1
11    4       3      1
12    4       5      1
13    5       1      1
14    5       2      2
15    5       3      1
16    5       4      1
17    5       7      1
18    5       8      1
19    5       9      1
20    6       2      1
21    6       4      1
22    6       7      2
23    6       8      1
24    6       9      1
25    6      10      1
26    7       2      1
27    7       3      2
28    7       4      1
29    8       6      2
30    8       8      1

In [17]:

tpims_sg_enh = tpims_sg_enh.rename(columns = {0:'plate'})
tpims_sg_enh = tpims_sg_enh.rename(columns = {1:'row'})
tpims_sg_enh = tpims_sg_enh.rename(columns = {2:'column'})
tpims_sg_enh = tpims_sg_enh.rename(columns = {3:'cell type'})
tpims_sg_enh = tpims_sg_enh.rename(columns = {4:'count'})

tpims_sg_enh

    plate  row  column  cell type  count
0       3    3       7          2      1
1       4    2       3          2      1
2       4    8       5          2      1
3       1    8       2          2      1
4       2    1       6          2      1
5       4    4       2          2      1
6       1    6       1          2      1
7       1    3       1          1      1
8       1    6       4          1      1
9       2    1       2          1      1
10      1    4       2          1      1
11      1    2       3          1      1
12      1    6       1          1      1
13      2    7       1          1      1
14      1    5       2          1      1
15      4    8       9          1      1
16      4    6       3          1      1
17      3    8       9          1      1
18      4    8       8          1      1

In [18]:
#find compounds which came up as hits across multiple concentrations/dilutions
tpims_sg_enh_mult_conc = tpims_sg_enh.groupby(['row', 'column', 'cell type'])['count'].sum()

tpims_sg_enh_mult_conc = tpims_sg_enh_mult_conc.to_frame()

tpims_sg_enh_mult_conc = tpims_sg_enh_mult_conc.reset_index(drop = False)

tpims_sg_enh_mult_conc

    row  column  cell type  count
0     1       2          1      1
1     1       6          2      1
2     2       3          1      1
3     2       3          2      1
4     3       1          1      1
5     3       7          2      1
6     4       2          1      1
7     4       2          2      1
8     5       2          1      1
9     6       1          1      1
10    6       1          2      1
11    6       3          1      1
12    6       4          1      1
13    7       1          1      1
14    8       2          2      1
15    8       5          2      1
16    8       8          1      1
17    8       9          1      2

In [19]:
#find compounds which came up as hits across multiple cell types
tpims_sg_enh_mult_celltype = tpims_sg_enh.groupby(['plate', 'row', 'column'])['count'].sum()

tpims_sg_enh_mult_celltype = tpims_sg_enh_mult_celltype.to_frame()

tpims_sg_enh_mult_celltype = tpims_sg_enh_mult_celltype.reset_index(drop = False)

tpims_sg_enh_mult_celltype

    plate  row  column  count
0       1    2       3      1
1       1    3       1      1
2       1    4       2      1
3       1    5       2      1
4       1    6       1      2
5       1    6       4      1
6       1    8       2      1
7       2    1       2      1
8       2    1       6      1
9       2    7       1      1
10      3    3       7      1
11      3    8       9      1
12      4    2       3      1
13      4    4       2      1
14      4    6       3      1
15      4    8       5      1
16      4    8       8      1
17      4    8       9      1

In [21]:
#find compounds which came up as hits across multiple conc and cell types
tpims_sg_enh_mult_conc_and_celltype = tpims_sg_enh.groupby(['row', 'column'])['count'].sum()

tpims_sg_enh_mult_conc_and_celltype = tpims_sg_enh_mult_conc_and_celltype.to_frame()

tpims_sg_enh_mult_conc_and_celltype = tpims_sg_enh_mult_conc_and_celltype.reset_index(drop = False)

tpims_sg_enh_mult_conc_and_celltype

    row  column  count
0     1       2      1
1     1       6      1
2     2       3      2
3     3       1      1
4     3       7      1
5     4       2      2
6     5       2      1
7     6       1      2
8     6       3      1
9     6       4      1
10    7       1      1
11    8       2      1
12    8       5      1
13    8       8      1
14    8       9      2

In [22]:
# tpims_analysis_folder = '/Users/markfang/Dropbox/UCSD Grad work/RNA-Yeo Lab/Data - analyses/SG project/screening/analyses of large screens/150701 sg results'

# with open ('{}/151214 tpims hits multiple conc.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_hits_mult_conc.to_csv('{}/151214 tpims hits multiple conc.csv'.format(tpims_analysis_folder))
# with open ('{}/151214 tpims hits multiple cell types.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_hits_mult_celltype.to_csv('{}/151214 tpims hits multiple cell types.csv'.format(tpims_analysis_folder))
# with open ('{}/151214 tpims hits multiple conc and cell types.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_hits_mult_conc_and_celltype.to_csv('{}/151214 tpims hits multiple conc and cell types.csv'.format(tpims_analysis_folder))
# with open ('{}/151214 tpims sg enh multiple conc.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_sg_enh_mult_conc.to_csv('{}/151214 tpims sg enh multiple conc.csv'.format(tpims_analysis_folder))
# with open ('{}/151214 tpims sg enh multiple cell types.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_sg_enh_mult_celltype.to_csv('{}/151214 tpims sg enh multiple cell types.csv'.format(tpims_analysis_folder))
# with open ('{}/151214 tpims sg enh multiple conc and cell types.csv'.format(tpims_analysis_folder),'w') as tpims_analysis_outputfile:
#    tpims_sg_enh_mult_conc_and_celltype.to_csv('{}/151214 tpims sg enh multiple conc and cell types.csv'.format(tpims_analysis_folder))